html{
    font-family: "Dosis", sans-serif;
    
}
.lobsterFont{
    font-family: "Lobster", sans-serif;
    font-weight: bold;    
}

.dosisFont{
    font-family: "Dosis", sans-serif;
    font-weight: bold; 
}

p {
    font-family: "Lobster", sans-serif;      
}

.colorGreen{
    color: rgb(49, 119, 27);
}
.colorRed{
    color: rgb(253, 0, 0);
}
.colorBlue{
    color: rgb(0, 110, 255);
}
.colorOrange{
    color: rgb(255, 153, 0);
}
.colorPurple{
    color: rgb(140, 0, 153);
}

.linkNone {
    text-decoration: none;
}
.leaflet-routing-alternatives-container{
    display: none;
}

.imgFluid{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}
#root{   
    background: url(https://png.pngtree.com/background/20230617/original/pngtree-modern-gradient-background-with-3d-rendering-of-abstract-pink-blue-and-picture-image_3703389.jpg) no-repeat center ; 
    background-color: rgb(36, 0, 0);
    background-size: cover;
}

.metalBg{
    background: url(/images/bgwind.png) no-repeat center ;
    background-color: rgb(31, 30, 37);
    background-size: cover;
}

.lightningBg{
    background: url(/images/light.png) no-repeat center;
    background-color: rgb(0, 0, 0);
    background-size: cover;
}

.relative{
    position: relative;
}

.botomRight{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.btn-top-right-position{
    position: absolute;
    top: 0px;
    right: 0px;
}

.btn-bottom-right-position{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.btn-bottom-left-position{
    position: absolute;
    bottom: 0px;
    left: 0px;
}



.sticky{
    position: sticky;
    top: 0px;
}
.sticky50{
    position: sticky;
    top: 50px;
}

label {
    display: block;
    margin-top: 10px;
  }
  
  .card-container.card {
    max-width: 350px !important;
    padding: 40px 40px;
  }
  
  .card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .maxheight{
    min-height: 80vh;
  }